<div class="card m-5 flex-grow-1 card-hover" style="width: 18rem;">
    <a href="/matematica-financeira-index" style="text-decoration: none;">
        <img alt="..." class="card-img-top" src="{{ site.url }}{{site.baseurl}}/assets/images/matematica-financeira-logo.jpg "/>

        <div class="card-body">
            <h5 class="card-title">Matemática Financeira</h5>
            <p class="card-text text-muted font-italic">"A matemática financeira utiliza uma série de conceitos matemáticos aplicados à análise de dados financeiros em geral."</p>
        </div>
    </a>
</div>
