<div class="card m-5 flex-grow-1 card-hover" style="width: 18rem;">
    <a href="/economia-index" style="text-decoration: none;">
        <img alt="..." class="card-img-top" src="{{ site.url }}{{site.baseurl}}/assets/images/economia-logo.jpg"/>

        <div class="card-body">
            <h5 class="card-title">Economia</h5>
            <p class="card-text text-muted font-italic">"Economia é uma ciência que consiste na análise da produção, distribuição e consumo de bens e serviços".</p>
        </div>
    </a>
</div>
