<div class="card my-5">
    <div class="card-header font-large">
        <h5>
            Projeto Aprender Economia, 2020
        </h5>
    </div>
    <div class="card-body">
        <h5 class="card-title justify-center">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo-UNIFAL.png" width="80" height="80" class="img-thumbnail img-fluid" alt="UNIFAL-MG logo image">
            <a href="http://www.unifal-mg.edu.br" target="_blank">UNIFAL-MG
                <i class="fas fa-external-link-square-alt"></i>
            </a>
        </h5>
        <a href="{{ site.url }}{{ site.baseurl }}/about">Quem Somos?</a>
    </div>
</div>