<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo-ae.jpeg" width="80" height="60" alt="thumbnail" class="img-thumbnail img-fluid">
    <span></span>
</a>
<div class="main-title text-center">{{ page.title }}</div>

<button aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarOptions" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse ml-auto" id="navbarOptions">

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}">
                Inicio
            </a>
        </li>

        <li class="nav-item mx-2">
            <a class="nav-link" href="https://www.youtube.com/channel/UC4zRbcanlK4habf42NriZ6g" target="_blank">YouTube
                <span class="oi oi-external-link"></span>
            </a>
        </li>
    </ul>
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <div class="gcse-search"></div>
    </div>
</div>