<a aria-controls="questions-dropdown" aria-expanded="false" class="btn col my-3 btn-primary" data-toggle="collapse" href="#questions-dropdown" role="button">
    Listas de Exercícios
</a>

<div class="collapse" id="questions-dropdown">
    <nav class="justify-content-center align-center navbar navbar-light bg-light">
        <form class="form-inline">
            <input aria-label="Search" class="text-center form-control mr-sm-2" id="search-video" oninput="filter_list(this)" placeholder="Filtrar" type="search">
                <span class="oi oi-magnifying-glass"></span>
            </input>
        </form>
    </nav>
    <ul class="list-group">
        {% for test in site.data.struct.tests %}
            {% assign test_slug = test.title | slugify %}
            <li class="list-group-item text-center">
                <button class="btn btn-light" data-target="#modal-question-{{ test_slug }}" data-toggle="modal" href="#" type="button">{{ test.title }}
                </button>
            </li>
            <div aria-hidden="true" aria-labelledby="modal-target-{{ test_slug }}" class="modal fade videoModal" id="modal-question-{{ test_slug }}" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-xl modal-lg modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-light justify-content-center">
                            <h5 class="modal-title" id="exampleModalLabel">{{ test.title }}
                            </h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% assign page = test %}
                            {% include question.html %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
</div>