.link-box {
    a {
        color: black;
        text-decoration: none;
    }
}

.chart {
    width: 100%;
    min-height: 400px;
}


.usual-text {
    text-align: justify;
}

.main-title {
    font-size: x-large;
}