---
layout: page
title: exercícios
---
<div class="container">
    <p>Selecione um assunto para resolver exercícios relacionados:</p>
    {% for subject in site.data.struct.subjects %}
        {% assign subject_slug = subject | slugify %}
        <a class="btn col my-3 btn-primary" data-toggle="collapse" href="#{{ subject_slug }}" role="button" aria-expanded="false" aria-controls="{{ subject_slug }}">{{ subject | capitalize }}</a>
        <div class="collapse my-2" id="{{ subject_slug }}">
            {% for post in site.posts %}
                {% assign post_subject_slug = post.subject | slugify %}
                {% if post_subject_slug == subject_slug %}
                    <p>Exercícios do post: "<a href="{{ site.url }}{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a>"</p>
                    {% assign page = post %}
                    {% include questions.html %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>