---
layout: page
title: exercícios
---
<div class="container">
    <p>Selecione um assunto para resolver exercícios relacionados:</p>
    {% for category in site.data.categories %}
        {% assign cat_slug = category[0] | slugify %}
        <a class="btn col my-3 btn-primary" data-toggle="collapse" href="#{{ cat_slug }}" role="button" aria-expanded="false" aria-controls="{{ cat_slug }}">{{ category[0] | capitalize }}</a>
        <div class="collapse my-2" id="{{ cat_slug }}">
            {% for post in site.posts %}
                {% if post.categories contains category[0] %}
                    <p>Exercícios do post: "<a href="{{ site.url }}{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a>"</p>
                    {% assign page = post %}
                    {% include questions.html %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>