<a aria-controls="questions-dropdown" aria-expanded="false" class="btn col my-3 btn-primary" data-toggle="collapse" href="#questions-dropdown" role="button">
    <div class="d-flex justify-content-center">
        <span class="ml-auto">Listas de Exercícios</span>
        <i class="ml-auto fas fa-caret-square-down"></i>
    </div>
</a>

<div class="collapse" id="questions-dropdown">
    <nav class="justify-content-center align-center navbar navbar-light bg-light">
        <div class="row">
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <input aria-label="Search" class="form-control mr-sm-2" id="search-questions" oninput="filter_list(this, 'questions')" placeholder="Filtrar" type="text"/>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </nav>
    <ul class="list-group" id="list-questions">
        {% for test in site.data.struct.introducao-a-economia.tests %}
            {% assign test_slug = test.title | slugify %}
            <li class="list-group-item text-center">
                <button class="btn btn-light" data-target="#modal-question-{{ test_slug }}" data-toggle="modal" href="#" type="button">{{ test.title }}
                    {% case test.type%}
                        {% when "multiple" %}
                            <i class="ml-3 fas fa-list"></i>
                        {% when "serve" %}
                            <i class="ml-3 fas fa-file"></i>
                    {% endcase %}
                </button>
            </li>
            <div aria-hidden="true" aria-labelledby="modal-target-{{ test_slug }}" class="modal fade videoModal" id="modal-question-{{ test_slug }}" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-xl modal-lg modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-light justify-content-center">
                            <h5 class="modal-title" id="exampleModalLabel">{{ test.title }}
                            </h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% case test.type %}

                                {% when "multiple" %}
                                    {% assign page = test %}
                                    {% include introducao-a-economia/question-multi.html %}

                                {% when "serve" %}
                                    <object data="{{site.baseurl}}/{{ test.src }}" height="500" style="height: 85vh;" type="application/pdf" width="100%">
                                        <a class="btn btn-primary text-white" href="{{ site.baseurl}}/{{ test.src }}" download="{{ test.src }}">Baixar apresentação</a>
                                    </object>

                            {% endcase %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
</div>