---
layout: page
title: vídeos
---

<div class="container">
    <!-- <p>Selecione um assunto para assistir vídeos relacionados:</p>

    {% for category in site.data.categories %}
    {% assign cat_slug = category[0] | slugify %}
    <button class="btn col my-3 btn-primary" type="button" data-toggle="collapse" data-target="#{{ cat_slug }}"
        aria-expanded="false" aria-controls="{{ cat_slug }}">
        {{ category[0] | capitalize }}
    </button>

    {% assign row_size = 0 %}
    <div class="collapse" id="{{ cat_slug }}">
        <div class="container">
            {% for post in site.posts %}
            {% assign pos = row_size | modulo: 3 %}
            {% if pos == 0 %}
            <div class="row">
                {% endif %}
                {% if post.categories contains category[0] %}
                <div class="col-4">
                        <div class="m-3">
                            <img class="align-center img-fluid" data-target="#modal-target" data-toggle="modal"
                                src="https://img.youtube.com/vi/{{ post.youtubelink | slice: 30,40 }}/hqdefault.jpg"
                                alt="thumbnail for video on page {{ page.title }}">
                            <p class="text-left text-mutted"><strong><small>{{ post.title }}</small></strong></p>
                        </div>
                </div>

                <div class="modal fade" id="modal-target" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% assign row_size = row_size | plus: 1 %}
                {% endif %}
                {% assign pos = row_size | modulo: 3 %}
                {% if pos == 0 %}
            </div>
            {%endif%}
            {% endfor %}
            {% assign pos = row_size | modulo: 3 %}
            {% if pos == 0 %}
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endfor %} -->


    <p>Selecione um assunto para assistir vídeos relacionados:</p>
    {% for category in site.data.categories %}
        {% assign cat_slug = category[0] | slugify %}
        <a class="btn col my-3 btn-primary" data-toggle="collapse" href="#{{ cat_slug }}" role="button" aria-expanded="false" aria-controls="{{ cat_slug }}">
            {{ category[0] | capitalize }}
        </a>

        <div class="collapse" id="{{ cat_slug }}">
            <p>Clique no nome do vídeo abaixo para assistir:</p>
        </div>


        <div class="collapse" id="{{ cat_slug }}">
            <ul>
                {% for post in site.posts %}
                    {% if post.categories contains category[0] %}
                        {% assign post_slug = post.title | slugify %}
                        <li>
                            <button class="btn btn-light" data-target="#modal-target-{{ post_slug }}-{{ cat_slug }}" data-toggle="modal" href="#" type="button">{{ post.title }}
                            </button>
                        </li>
                        <div aria-hidden="true" aria-labelledby="modal-{{ post_slug }}" class="modal fade videoModal" id="modal-target-{{ post_slug }}-{{ cat_slug }}" role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-light justify-content-center">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ post.title | capitalize }}</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9 my-5 align-center">
                                            <iframe class="embed-responsive-item" allow="autoplay" allowscriptaccess="always" src="{{ post.youtubelink }}" allowscriptaccess="always" allowfullscreen></iframe>
                                        </div>
                                        <p>
                                            <a href="{{ site.url }}{{ site.baseurl}}/{{ post.url }}">Postagem relacionada</a>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>