---
layout: page
title: vídeos
---

<div class="container">
    <p>Selecione um assunto para assistir vídeos relacionados:</p>
    {% for subject in site.data.struct.subjects %}
        {% assign subject_slug = subject | slugify %}
        <a class="btn col my-3 btn-primary" data-toggle="collapse" href="#{{ subject_slug }}" role="button" aria-expanded="false" aria-controls="{{ subject_slug }}">
            {{ subject | capitalize }}
        </a>

        <div class="collapse" id="{{ subject_slug }}">
            <p>Clique no nome do vídeo abaixo para assistir:</p>
        </div>


        <div class="collapse" id="{{ subject_slug }}">
            <ul>
                {% for post in site.posts %}
                    {% assign post_subject_slug = post.subject | slugify %}
                    {% if subject_slug == post_subject_slug %}
                        {% assign post_slug = post.title | slugify %}
                        <li>
                            <button class="btn btn-light" data-target="#modal-target-{{ post_slug }}-{{ cat_slug }}" data-toggle="modal" href="#" type="button">{{ post.title }}
                            </button>
                        </li>
                        <div aria-hidden="true" aria-labelledby="modal-{{ post_slug }}" class="modal fade videoModal" id="modal-target-{{ post_slug }}-{{ cat_slug }}" role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-light justify-content-center">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ post.title | capitalize }}</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9 my-5 align-center">
                                            <iframe class="embed-responsive-item" allow="autoplay" allowscriptaccess="always" src="{{ post.youtubelink }}" allowscriptaccess="always" allowfullscreen></iframe>
                                        </div>
                                        <p>
                                            <a href="{{ site.url }}{{ site.baseurl}}/{{ post.url }}">Postagem relacionada</a>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>