---
layout: default
---

<div class="container">
    <h1>Postagens da categoria
                                '{{ page.type }}'</h1>
    <ul class="posts">
        {% assign type_slug = page.type | slugify %}
        {% for post in site.posts %}
            {% if post.categories contains page.type %}
                <li>
                    <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}
                        -
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        por
                        {{ post.author }}
                    </span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>