<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169461300-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-169461300-1');
        </script>

        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/logo-ae.jpeg" type="image/x-icon">
        <title>{{ page.title }}</title>


        <link href="/assets/js/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="/assets/js/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/styles.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container d-flex">
                {% include navbar.html %}
            </div>
        </nav>
        <div class="container">
            <div class="m-sm-auto p-auto text-align-center" role="main">
                {{ content }}
            </div>

            <footer class="footer text-center">
                {% include footer.html %}
            </footer>
        </div>

        <script src="/assets/js/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/assets/js/node_modules/popper.js/dist/popper.min.js"></script>
        <script src="/assets/js/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <script async src="{{ site.url }}{{ site.baseurl }}/assets/js/questions_manage.js" crossorigin="anonymous"></script>
        <script async src="{{ site.url }}{{ site.baseurl }}/assets/js/functionalities.js" crossorigin="anonymous"></script>
    </body>

</html>
