---
layout: default
---

{% if page.youtubelink %}
<h5 class="font-italic font-weight-bold">Assista à videoaula: </h5>

<div class="embed-responsive embed-responsive-16by9 my-5 align-center">
    <iframe class="embed-responsive-item" src="{{ page.youtubelink }}" allowfullscreen></iframe>
</div>
{% endif %}

<h5 class="font-italic font-weight-bold">Leia o texto: </h5>

<div class="usual-text">
    {{ content }}
</div>
<p class="text-sm text-left">Autor: {{ page.author }} </p>

{% if site.data[page.questions] and site.data[page.options] %}
<h5 class="font-italic font-weight-bold">Responda às questões: </h5>

<div class="bg-light my-3" id="questions">
    {% assign k = 0 %}
    {% for questions in site.data[page.questions] %}
    <h6 class="m-3 font-weight-bold">Questão {{ questions.id }} - {{ questions.question }}</h6>
    {% for options in site.data[page.options] %}
    {% if options.question_id == questions.id %}
    {% if questions.type == "1" %}
    <div>
        <input type="radio" name="Q-{{ questions.id }}" id="{{ k }}" value="{{ options.right }}">
        <label for="{{ k }}" class="ml-3"> {{ options.option }}</label><br>
    </div>
    {% else %}
    <div>
        <input type="checkbox" name="Q-{{ questions.id }}" id="{{ k }}" value="{{ options.right }},{{ questions.type }}"
            itemtype="{{ questions.type }}" onclick="checkLimit(this, '{{ questions.type }}' )">
        <label for="{{ k }}" class="ml-3">{{ options.option }}</label><br>
    </div>
    {% endif %}
    {% assign k = k | plus: 1 %}
    {% endif %}
    {% endfor %}
    {% endfor %}
    <button type="button" id="send-answer" class="btn btn-primary my-3 align-center"
        onclick="checkAnswer('{{ site.data[page.questions].size }}')">Enviar Respostas</button>
    <button type="button" style="display: none;" id="reset-answer" class="btn btn-success my-3 align-center"
        onclick="resetAnswer('{{ site.data[page.questions].size }}')">Refazer Teste</button>
    <script async src="{{ site.url }}{{ site.baseurl }}/assets/js/questions_load.js" crossorigin="anonymous"></script>
    <div id="results" style="display: none;"></div>
    {% endif %}
</div>