---
layout: default
---

<div class="container">

    {% if page.youtubelink %}
        <h3 class="font-italic font-weight-bold">Assista à videoaula:
        </h3>

        <div class="embed-responsive embed-responsive-16by9 my-5 align-center">
            <iframe class="embed-responsive-item" src="{{ page.youtubelink }}" allowfullscreen></iframe>
        </div>
    {% endif %}

    <div class="usual-text">
        {{ content }}
    </div>

    <br><br>
    <p class="text-sm text-left">Autor:
        {{ page.author }}
    </p>

    <br><br>
    {% if site.data.questions[page.questions] and site.data.options[page.options] %}
        <h5 class="font-italic font-weight-bold">Responda às questões:
        </h5>
        {% include questions.html %}
    {% endif %}
</div>